@model Nop.Plugin.Misc.RepairAppointment.Models.RepairType.RepairTypeModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Edit Repair Type";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("RepairAppointments.RepairTypes");
}

<form asp-controller="RepairType" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Edit Repair Type - @Model.Name
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                Save and Continue Edit
            </button>
            <a asp-action="List" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i>
                Back to list
            </a>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="card card-default">
                    <div class="card-body">
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="RepairCategoryId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="RepairCategoryId" asp-items="Model.AvailableCategories" />
                                <span asp-validation-for="RepairCategoryId"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="RepairProductId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="RepairProductId" asp-items="Model.AvailableProducts" />
                                <span asp-validation-for="RepairProductId"></span>
                                <nop-nested-setting asp-for="RepairProductId" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Description" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="Description" />
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="EstimatedPrice" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EstimatedPrice" />
                                <span asp-validation-for="EstimatedPrice"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="EstimatedDurationMinutes" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EstimatedDurationMinutes" />
                                <span asp-validation-for="EstimatedDurationMinutes"></span>
                                <div class="form-text">Duration in minutes</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IsActive" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsActive" />
                                <span asp-validation-for="IsActive"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(function() {
        // Category change handler
        $('#RepairCategoryId').change(function() {
            var categoryId = $(this).val();
            var $productSelect = $('#RepairProductId');
            var currentProductId = @Model.RepairProductId;

            // Clear products dropdown
            $productSelect.empty().append('<option value="">-- Select Product (Optional) --</option>');

            if (categoryId && categoryId !== '0') {
                // Load products for selected category
                $.ajax({
                    url: '@Url.Action("GetProductsByCategory", "RepairType")',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function(data) {
                        $.each(data, function(i, product) {
                            var selected = product.value == currentProductId ? ' selected' : '';
                            $productSelect.append('<option value="' + product.value + '"' + selected + '>' + product.text + '</option>');
                        });
                    }
                });
            }
        });

        // Trigger category change on page load to populate products
        $('#RepairCategoryId').trigger('change');

    });
</script>