@model LogoModel

<div class="logo">
    <a href="@Url.RouteUrl("Homepage")" class="logo-link">
        @* You can switch between different logo designs: *@
        @* logo-modern.svg = Graphics card design *@
        @* logo-repair.svg = Monitor with wrench *@
        @* Or use Font Awesome icon: *@
        <i class="fas fa-microchip logo-icon"></i>
        <span class="logo-text">GamingPC<span class="highlight">Rehab</span></span>
    </a>
</div>