@model CatalogProductsModel

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
    <div class="warning">
        @Model.WarningMessage
    </div>
}

@if (Model.Products.Count > 0)
{
    @if (Model.ViewMode == "list")
    {
        <div class="product-list">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 product-align">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="products-grid">
            @foreach (var product in Model.Products)
            {
                @await Html.PartialAsync("_ProductBox", product)
            }
        </div>
    }

    var pager = Html.Pager(Model)
        .QueryParam("pagenumber")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .RenderEmptyParameters(true);

    @if (!await pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.NoResultMessage))
{
    <div class="no-result">
        @Model.NoResultMessage
    </div>
}